In [27]:
import pandas as pd
import numpy as np
import json
import regex as re

In [28]:
df = pd.read_json("data_final.json", encoding="UTF8")
df

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Plot,...,imdbRating,imdbVotes,imdbID,Type,DVD,BoxOffice,Production,Website,Response,totalSeasons
0,Dharma Poratam,1983,N/A,N/A,140 min,Musical,Subba Rao B.A.,N/A,"Mohan Babu, Pandari Bai",N/A,...,3.4,195,tt0371632,movie,N/A,N/A,N/A,N/A,True,NaN
1,Agni Samadhi,1983,N/A,N/A,N/A,N/A,K.S.R. Doss,N/A,Kongara Jaggaiah,N/A,...,N/A,N/A,tt1321330,movie,N/A,N/A,N/A,N/A,True,NaN
2,Kala Yamudu,1983,N/A,N/A,120 min,"Drama, Romance",N. Harishchandra Rao,N/A,"Mohan Babu, Sharada",N/A,...,8.2,36,tt0355626,movie,N/A,N/A,N/A,N/A,True,NaN
3,Maro Maya Bazaar,1983,Not Rated,N/A,133 min,N/A,Rao C.S.R.,N/A,"Chandramohan, Narayana P.L., Mohan Babu",N/A,...,8.4,40,tt0261822,movie,N/A,N/A,N/A,N/A,True,NaN
4,Amayaka Chakravarthy,1983,Not Rated,N/A,131 min,Drama,Valebhaneni Janardhan,N/A,"Chandramohan, Jayamalini, Krishnaveni, Nuthan ...",N/A,...,N/A,N/A,tt8890532,movie,N/A,N/A,N/A,N/A,True,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73318,Alo polis,1977,N/A,01 Jun 1977,N/A,"Adventure, Comedy, Crime",Savas Esici,Savas Esici,"Salih Kirmizi, Melek G�rg�n, Burhan Seyfioglu,...",N/A,...,N/A,N/A,tt8394120,movie,N/A,N/A,N/A,N/A,True,NaN
73319,Askin Sesini Dinleme,1977,N/A,N/A,N/A,N/A,Yavuz Figenli,Recep Filiz,"�nsal Emre, Figen Han, Necla Fide",N/A,...,N/A,N/A,tt7535938,movie,N/A,N/A,N/A,N/A,True,NaN
73320,K�rd�g�m,1977,N/A,N/A,N/A,"Drama, Romance",Tolgay Ziyal,Hakan Balamir,"Hakan Balamir, Hale Soygazi, Oya Basar",N/A,...,7.5,115,tt0296718,movie,N/A,N/A,N/A,N/A,True,NaN
73321,Nehir,1977,Not Rated,N/A,87 min,"Adventure, Crime, Thriller",Serif G�ren,Sadik Sendil,"Tarik Akan, M�jde Ar, Sevda Aktolga",A group of young people living a luxurious lif...,...,6.0,214,tt0273878,movie,N/A,N/A,N/A,N/A,True,NaN
73322,Ana ocagi,1977,N/A,01 Feb 1978,86 min,"Drama, Romance",Osman F. Seden,Osman F. Seden,"Fatma Girik, Kadir Inanir, Bet�l As�ioglu","Kadir and his family, who are involved in the ...",...,5.3,90,tt1998172,movie,N/A,N/A,N/A,N/A,True,NaN

In [29]:
# Filtered out non-movies
df = df[df['Type']=="movie"]
df

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Plot,...,imdbRating,imdbVotes,imdbID,Type,DVD,BoxOffice,Production,Website,Response,totalSeasons
0,Dharma Poratam,1983,N/A,N/A,140 min,Musical,Subba Rao B.A.,N/A,"Mohan Babu, Pandari Bai",N/A,...,3.4,195,tt0371632,movie,N/A,N/A,N/A,N/A,True,NaN
1,Agni Samadhi,1983,N/A,N/A,N/A,N/A,K.S.R. Doss,N/A,Kongara Jaggaiah,N/A,...,N/A,N/A,tt1321330,movie,N/A,N/A,N/A,N/A,True,NaN
2,Kala Yamudu,1983,N/A,N/A,120 min,"Drama, Romance",N. Harishchandra Rao,N/A,"Mohan Babu, Sharada",N/A,...,8.2,36,tt0355626,movie,N/A,N/A,N/A,N/A,True,NaN
3,Maro Maya Bazaar,1983,Not Rated,N/A,133 min,N/A,Rao C.S.R.,N/A,"Chandramohan, Narayana P.L., Mohan Babu",N/A,...,8.4,40,tt0261822,movie,N/A,N/A,N/A,N/A,True,NaN
4,Amayaka Chakravarthy,1983,Not Rated,N/A,131 min,Drama,Valebhaneni Janardhan,N/A,"Chandramohan, Jayamalini, Krishnaveni, Nuthan ...",N/A,...,N/A,N/A,tt8890532,movie,N/A,N/A,N/A,N/A,True,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73318,Alo polis,1977,N/A,01 Jun 1977,N/A,"Adventure, Comedy, Crime",Savas Esici,Savas Esici,"Salih Kirmizi, Melek G�rg�n, Burhan Seyfioglu,...",N/A,...,N/A,N/A,tt8394120,movie,N/A,N/A,N/A,N/A,True,NaN
73319,Askin Sesini Dinleme,1977,N/A,N/A,N/A,N/A,Yavuz Figenli,Recep Filiz,"�nsal Emre, Figen Han, Necla Fide",N/A,...,N/A,N/A,tt7535938,movie,N/A,N/A,N/A,N/A,True,NaN
73320,K�rd�g�m,1977,N/A,N/A,N/A,"Drama, Romance",Tolgay Ziyal,Hakan Balamir,"Hakan Balamir, Hale Soygazi, Oya Basar",N/A,...,7.5,115,tt0296718,movie,N/A,N/A,N/A,N/A,True,NaN
73321,Nehir,1977,Not Rated,N/A,87 min,"Adventure, Crime, Thriller",Serif G�ren,Sadik Sendil,"Tarik Akan, M�jde Ar, Sevda Aktolga",A group of young people living a luxurious lif...,...,6.0,214,tt0273878,movie,N/A,N/A,N/A,N/A,True,NaN
73322,Ana ocagi,1977,N/A,01 Feb 1978,86 min,"Drama, Romance",Osman F. Seden,Osman F. Seden,"Fatma Girik, Kadir Inanir, Bet�l As�ioglu","Kadir and his family, who are involved in the ...",...,5.3,90,tt1998172,movie,N/A,N/A,N/A,N/A,True,NaN

In [30]:
# Removed columns
df.drop(['Rated', 'Director', 'Writer', 'Actors', 'Poster', 'imdbID', 'Type', 'DVD', 'Production', 'Website', 'Response', 'totalSeasons'], axis=1, inplace=True)
df

C:\Users\natha\AppData\Local\Temp\ipykernel_28596\910533044.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(['Rated', 'Director', 'Writer', 'Actors', 'Poster', 'imdbID', 'Type', 'DVD', 'Production', 'Website', 'Response', 'totalSeasons'], axis=1, inplace=True)

,Title,Year,Released,Runtime,Genre,Plot,Language,Country,Awards,Ratings,Metascore,imdbRating,imdbVotes,BoxOffice
0,Dharma Poratam,1983,N/A,140 min,Musical,N/A,N/A,India,N/A,"[{'Source': 'Internet Movie Database', 'Value'...",N/A,3.4,195,N/A
1,Agni Samadhi,1983,N/A,N/A,N/A,N/A,Telugu,India,N/A,[],N/A,N/A,N/A,N/A
2,Kala Yamudu,1983,N/A,120 min,"Drama, Romance",N/A,Telugu,India,N/A,"[{'Source': 'Internet Movie Database', 'Value'...",N/A,8.2,36,N/A
3,Maro Maya Bazaar,1983,N/A,133 min,N/A,N/A,Telugu,India,N/A,"[{'Source': 'Internet Movie Database', 'Value'...",N/A,8.4,40,N/A
4,Amayaka Chakravarthy,1983,N/A,131 min,Drama,N/A,Telugu,India,N/A,[],N/A,N/A,N/A,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73318,Alo polis,1977,01 Jun 1977,N/A,"Adventure, Comedy, Crime",N/A,Turkish,Turkey,N/A,[],N/A,N/A,N/A,N/A
73319,Askin Sesini Dinleme,1977,N/A,N/A,N/A,N/A,N/A,Turkey,N/A,[],N/A,N/A,N/A,N/A
73320,K�rd�g�m,1977,N/A,N/A,"Drama, Romance",N/A,Turkish,Turkey,N/A,"[{'Source': 'Internet Movie Database', 'Value'...",N/A,7.5,115,N/A
73321,Nehir,1977,N/A,87 min,"Adventure, Crime, Thriller",A group of young people living a luxurious lif...,Turkish,Turkey,N/A,"[{'Source': 'Internet Movie Database', 'Value'...",N/A,6.0,214,N/A
73322,Ana ocagi,1977,01 Feb 1978,86 min,"Drama, Romance","Kadir and his family, who are involved in the ...",Turkish,Turkey,N/A,"[{'Source': 'Internet Movie Database', 'Value'...",N/A,5.3,90,N/A

In [31]:
# Removed duplicates
df.drop_duplicates(["Title", "Year", "Released", "Runtime"], inplace=True)
df

C:\Users\natha\AppData\Local\Temp\ipykernel_28596\939963427.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop_duplicates(["Title", "Year", "Released", "Runtime"], inplace=True)

,Title,Year,Released,Runtime,Genre,Plot,Language,Country,Awards,Ratings,Metascore,imdbRating,imdbVotes,BoxOffice
0,Dharma Poratam,1983,N/A,140 min,Musical,N/A,N/A,India,N/A,"[{'Source': 'Internet Movie Database', 'Value'...",N/A,3.4,195,N/A
1,Agni Samadhi,1983,N/A,N/A,N/A,N/A,Telugu,India,N/A,[],N/A,N/A,N/A,N/A
2,Kala Yamudu,1983,N/A,120 min,"Drama, Romance",N/A,Telugu,India,N/A,"[{'Source': 'Internet Movie Database', 'Value'...",N/A,8.2,36,N/A
3,Maro Maya Bazaar,1983,N/A,133 min,N/A,N/A,Telugu,India,N/A,"[{'Source': 'Internet Movie Database', 'Value'...",N/A,8.4,40,N/A
4,Amayaka Chakravarthy,1983,N/A,131 min,Drama,N/A,Telugu,India,N/A,[],N/A,N/A,N/A,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73318,Alo polis,1977,01 Jun 1977,N/A,"Adventure, Comedy, Crime",N/A,Turkish,Turkey,N/A,[],N/A,N/A,N/A,N/A
73319,Askin Sesini Dinleme,1977,N/A,N/A,N/A,N/A,N/A,Turkey,N/A,[],N/A,N/A,N/A,N/A
73320,K�rd�g�m,1977,N/A,N/A,"Drama, Romance",N/A,Turkish,Turkey,N/A,"[{'Source': 'Internet Movie Database', 'Value'...",N/A,7.5,115,N/A
73321,Nehir,1977,N/A,87 min,"Adventure, Crime, Thriller",A group of young people living a luxurious lif...,Turkish,Turkey,N/A,"[{'Source': 'Internet Movie Database', 'Value'...",N/A,6.0,214,N/A
73322,Ana ocagi,1977,01 Feb 1978,86 min,"Drama, Romance","Kadir and his family, who are involved in the ...",Turkish,Turkey,N/A,"[{'Source': 'Internet Movie Database', 'Value'...",N/A,5.3,90,N/A

In [32]:
# Converted nulls
df.replace("N/A", np.NaN, inplace=True)
df.replace("nan", np.NaN, inplace=True)
df

C:\Users\natha\AppData\Local\Temp\ipykernel_28596\1856083830.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace("N/A", np.NaN, inplace=True)
C:\Users\natha\AppData\Local\Temp\ipykernel_28596\1856083830.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace("nan", np.NaN, inplace=True)

,Title,Year,Released,Runtime,Genre,Plot,Language,Country,Awards,Ratings,Metascore,imdbRating,imdbVotes,BoxOffice
0,Dharma Poratam,1983,NaN,140 min,Musical,NaN,NaN,India,NaN,"[{'Source': 'Internet Movie Database', 'Value'...",NaN,3.4,195,NaN
1,Agni Samadhi,1983,NaN,NaN,NaN,NaN,Telugu,India,NaN,[],NaN,NaN,NaN,NaN
2,Kala Yamudu,1983,NaN,120 min,"Drama, Romance",NaN,Telugu,India,NaN,"[{'Source': 'Internet Movie Database', 'Value'...",NaN,8.2,36,NaN
3,Maro Maya Bazaar,1983,NaN,133 min,NaN,NaN,Telugu,India,NaN,"[{'Source': 'Internet Movie Database', 'Value'...",NaN,8.4,40,NaN
4,Amayaka Chakravarthy,1983,NaN,131 min,Drama,NaN,Telugu,India,NaN,[],NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73318,Alo polis,1977,01 Jun 1977,NaN,"Adventure, Comedy, Crime",NaN,Turkish,Turkey,NaN,[],NaN,NaN,NaN,NaN
73319,Askin Sesini Dinleme,1977,NaN,NaN,NaN,NaN,NaN,Turkey,NaN,[],NaN,NaN,NaN,NaN
73320,K�rd�g�m,1977,NaN,NaN,"Drama, Romance",NaN,Turkish,Turkey,NaN,"[{'Source': 'Internet Movie Database', 'Value'...",NaN,7.5,115,NaN
73321,Nehir,1977,NaN,87 min,"Adventure, Crime, Thriller",A group of young people living a luxurious lif...,Turkish,Turkey,NaN,"[{'Source': 'Internet Movie Database', 'Value'...",NaN,6.0,214,NaN
73322,Ana ocagi,1977,01 Feb 1978,86 min,"Drama, Romance","Kadir and his family, who are involved in the ...",Turkish,Turkey,NaN,"[{'Source': 'Internet Movie Database', 'Value'...",NaN,5.3,90,NaN

In [33]:
# Removed movies with limited information
mask = df['imdbVotes'].isnull() | df['imdbRating'].isnull()
df = df[~mask]
df

,Title,Year,Released,Runtime,Genre,Plot,Language,Country,Awards,Ratings,Metascore,imdbRating,imdbVotes,BoxOffice
0,Dharma Poratam,1983,NaN,140 min,Musical,NaN,NaN,India,NaN,"[{'Source': 'Internet Movie Database', 'Value'...",NaN,3.4,195,NaN
2,Kala Yamudu,1983,NaN,120 min,"Drama, Romance",NaN,Telugu,India,NaN,"[{'Source': 'Internet Movie Database', 'Value'...",NaN,8.2,36,NaN
3,Maro Maya Bazaar,1983,NaN,133 min,NaN,NaN,Telugu,India,NaN,"[{'Source': 'Internet Movie Database', 'Value'...",NaN,8.4,40,NaN
6,Gudachari No.1,1983,30 Jun 1983,138 min,"Action, Thriller","Vijay, a CBI agent, is sent on a special opera...",Telugu,India,NaN,"[{'Source': 'Internet Movie Database', 'Value'...",NaN,6.9,58,NaN
7,Khaidi,1983,28 Oct 1983,157 min,"Action, Drama",Veerabhadraiah is a feudal lord who presides o...,Telugu,India,NaN,"[{'Source': 'Internet Movie Database', 'Value'...",NaN,7.6,473,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73313,�lmeyen Sarki,1977,NaN,89 min,"Drama, Romance","Semra is a famous singer, and her daughter Cig...",Turkish,Turkey,NaN,"[{'Source': 'Internet Movie Database', 'Value'...",NaN,5.2,58,NaN
73317,G�nes Ne Zaman Dogacak,1977,NaN,85 min,Drama,The story of 146 Azerbaijani Turks who fled to...,Turkish,Turkey,NaN,"[{'Source': 'Internet Movie Database', 'Value'...",NaN,4.1,174,NaN
73320,K�rd�g�m,1977,NaN,NaN,"Drama, Romance",NaN,Turkish,Turkey,NaN,"[{'Source': 'Internet Movie Database', 'Value'...",NaN,7.5,115,NaN
73321,Nehir,1977,NaN,87 min,"Adventure, Crime, Thriller",A group of young people living a luxurious lif...,Turkish,Turkey,NaN,"[{'Source': 'Internet Movie Database', 'Value'...",NaN,6.0,214,NaN
73322,Ana ocagi,1977,01 Feb 1978,86 min,"Drama, Romance","Kadir and his family, who are involved in the ...",Turkish,Turkey,NaN,"[{'Source': 'Internet Movie Database', 'Value'...",NaN,5.3,90,NaN

In [34]:
# Fixed basic types and converted runtime
df = df.convert_dtypes()
df["Year"] = df["Year"].astype("Int64")
df["Released"] = pd.to_datetime(df["Released"], format="%d %b %Y")
df["Runtime"] = df["Runtime"].apply(lambda x: x if pd.isna(x) else int(x.split()[0]) if len(x.split()) == 2 else int(x.split()[0])*60+int(x.split()[2]) if len(x.split()) == 4 else np.NaN)
df["Runtime"] = df["Runtime"].astype("Int64")

In [35]:
# fix awards

df.columns
df[["Won", "Nominated"]] = np.NaN
df = df[['Title', 'Year', 'Released', 'Runtime', 'Genre', 'Plot', 'Language', 'Country',
       'Awards', 'Won', 'Nominated', 'Ratings', 'Metascore', 'imdbRating', 'imdbVotes',
       'BoxOffice']]

def search_wins(x):
    if pd.isna(x):
        return x
    win_pattern = r"([0-9]+)[^0-9]*win[s]*"
    num = re.search(win_pattern, x, re.IGNORECASE)
    if num:
        return int(num.group(1))
    else:
        return 0

def search_nominations(x):
    if pd.isna(x):
        return x
    nomination_pattern = r"([0-9]+)[^0-9]*nomination[s]*"
    num = re.search(nomination_pattern, x, re.IGNORECASE)
    if num:
        return int(num.group(1))
    else:
        return 0

df["Won"] = df["Awards"].apply(lambda x: search_wins(x))
df["Nominated"] = df["Awards"].apply(lambda x: search_nominations(x))
df.drop(['Awards'], axis=1, inplace=True)
df["Won"] = df["Won"].astype("Int64")
df["Nominated"] = df["Nominated"].astype("Int64")
df[["Won", "Nominated"]].replace(np.NaN, 0, inplace=True)
df

C:\Users\natha\AppData\Local\Temp\ipykernel_28596\2551156013.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[["Won", "Nominated"]].replace(np.NaN, 0, inplace=True)

,Title,Year,Released,Runtime,Genre,Plot,Language,Country,Won,Nominated,Ratings,Metascore,imdbRating,imdbVotes,BoxOffice
0,Dharma Poratam,1983,NaT,140,Musical,<NA>,<NA>,India,0,0,"[{'Source': 'Internet Movie Database', 'Value'...",<NA>,3.4,195,<NA>
2,Kala Yamudu,1983,NaT,120,"Drama, Romance",<NA>,Telugu,India,0,0,"[{'Source': 'Internet Movie Database', 'Value'...",<NA>,8.2,36,<NA>
3,Maro Maya Bazaar,1983,NaT,133,<NA>,<NA>,Telugu,India,0,0,"[{'Source': 'Internet Movie Database', 'Value'...",<NA>,8.4,40,<NA>
6,Gudachari No.1,1983,1983-06-30,138,"Action, Thriller","Vijay, a CBI agent, is sent on a special opera...",Telugu,India,0,0,"[{'Source': 'Internet Movie Database', 'Value'...",<NA>,6.9,58,<NA>
7,Khaidi,1983,1983-10-28,157,"Action, Drama",Veerabhadraiah is a feudal lord who presides o...,Telugu,India,0,0,"[{'Source': 'Internet Movie Database', 'Value'...",<NA>,7.6,473,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73313,�lmeyen Sarki,1977,NaT,89,"Drama, Romance","Semra is a famous singer, and her daughter Cig...",Turkish,Turkey,0,0,"[{'Source': 'Internet Movie Database', 'Value'...",<NA>,5.2,58,<NA>
73317,G�nes Ne Zaman Dogacak,1977,NaT,85,Drama,The story of 146 Azerbaijani Turks who fled to...,Turkish,Turkey,0,0,"[{'Source': 'Internet Movie Database', 'Value'...",<NA>,4.1,174,<NA>
73320,K�rd�g�m,1977,NaT,<NA>,"Drama, Romance",<NA>,Turkish,Turkey,0,0,"[{'Source': 'Internet Movie Database', 'Value'...",<NA>,7.5,115,<NA>
73321,Nehir,1977,NaT,87,"Adventure, Crime, Thriller",A group of young people living a luxurious lif...,Turkish,Turkey,0,0,"[{'Source': 'Internet Movie Database', 'Value'...",<NA>,6.0,214,<NA>
73322,Ana ocagi,1977,1978-02-01,86,"Drama, Romance","Kadir and his family, who are involved in the ...",Turkish,Turkey,0,0,"[{'Source': 'Internet Movie Database', 'Value'...",<NA>,5.3,90,<NA>

In [36]:
# fix ratings
df["TomatoScore"] = np.NaN
df = df = df[['Title', 'Year', 'Released', 'Runtime', 'Genre', 'Plot', 'Language', 'Country',
              'Won', 'Nominated', 'Ratings', 'Metascore', 'TomatoScore', 'imdbRating', 'imdbVotes',
       'BoxOffice']]

def tomatoes(x):
    for rating in x:
        if rating['Source'] == 'Rotten Tomatoes':
            return rating["Value"][:-1]
    return np.NaN

df["TomatoScore"] = df["Ratings"].apply(lambda x: tomatoes(x))
df.drop(['Ratings'], axis=1, inplace=True)
df["Metascore"] = df["Metascore"].astype("Int64")
df["TomatoScore"] = df["TomatoScore"].astype("Int64")
df

,Title,Year,Released,Runtime,Genre,Plot,Language,Country,Won,Nominated,Metascore,TomatoScore,imdbRating,imdbVotes,BoxOffice
0,Dharma Poratam,1983,NaT,140,Musical,<NA>,<NA>,India,0,0,<NA>,<NA>,3.4,195,<NA>
2,Kala Yamudu,1983,NaT,120,"Drama, Romance",<NA>,Telugu,India,0,0,<NA>,<NA>,8.2,36,<NA>
3,Maro Maya Bazaar,1983,NaT,133,<NA>,<NA>,Telugu,India,0,0,<NA>,<NA>,8.4,40,<NA>
6,Gudachari No.1,1983,1983-06-30,138,"Action, Thriller","Vijay, a CBI agent, is sent on a special opera...",Telugu,India,0,0,<NA>,<NA>,6.9,58,<NA>
7,Khaidi,1983,1983-10-28,157,"Action, Drama",Veerabhadraiah is a feudal lord who presides o...,Telugu,India,0,0,<NA>,<NA>,7.6,473,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73313,�lmeyen Sarki,1977,NaT,89,"Drama, Romance","Semra is a famous singer, and her daughter Cig...",Turkish,Turkey,0,0,<NA>,<NA>,5.2,58,<NA>
73317,G�nes Ne Zaman Dogacak,1977,NaT,85,Drama,The story of 146 Azerbaijani Turks who fled to...,Turkish,Turkey,0,0,<NA>,<NA>,4.1,174,<NA>
73320,K�rd�g�m,1977,NaT,<NA>,"Drama, Romance",<NA>,Turkish,Turkey,0,0,<NA>,<NA>,7.5,115,<NA>
73321,Nehir,1977,NaT,87,"Adventure, Crime, Thriller",A group of young people living a luxurious lif...,Turkish,Turkey,0,0,<NA>,<NA>,6.0,214,<NA>
73322,Ana ocagi,1977,1978-02-01,86,"Drama, Romance","Kadir and his family, who are involved in the ...",Turkish,Turkey,0,0,<NA>,<NA>,5.3,90,<NA>

In [37]:
# fixed imdbRating
df["imdbRating"] = pd.to_numeric(df["imdbRating"])
df.dtypes

Title                  string
Year                    Int64
Released       datetime64[ns]
Runtime                 Int64
Genre                  string
Plot                   string
Language               string
Country                string
Won                     Int64
Nominated               Int64
Metascore               Int64
TomatoScore             Int64
imdbRating            float64
imdbVotes              string
BoxOffice              string
dtype: object

In [38]:
df["imdbVotes"] = df["imdbVotes"].apply(lambda x: str(x).replace(",", ""))
df["imdbVotes"] = df["imdbVotes"].astype("Int64")
df

,Title,Year,Released,Runtime,Genre,Plot,Language,Country,Won,Nominated,Metascore,TomatoScore,imdbRating,imdbVotes,BoxOffice
0,Dharma Poratam,1983,NaT,140,Musical,<NA>,<NA>,India,0,0,<NA>,<NA>,3.4,195,<NA>
2,Kala Yamudu,1983,NaT,120,"Drama, Romance",<NA>,Telugu,India,0,0,<NA>,<NA>,8.2,36,<NA>
3,Maro Maya Bazaar,1983,NaT,133,<NA>,<NA>,Telugu,India,0,0,<NA>,<NA>,8.4,40,<NA>
6,Gudachari No.1,1983,1983-06-30,138,"Action, Thriller","Vijay, a CBI agent, is sent on a special opera...",Telugu,India,0,0,<NA>,<NA>,6.9,58,<NA>
7,Khaidi,1983,1983-10-28,157,"Action, Drama",Veerabhadraiah is a feudal lord who presides o...,Telugu,India,0,0,<NA>,<NA>,7.6,473,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73313,�lmeyen Sarki,1977,NaT,89,"Drama, Romance","Semra is a famous singer, and her daughter Cig...",Turkish,Turkey,0,0,<NA>,<NA>,5.2,58,<NA>
73317,G�nes Ne Zaman Dogacak,1977,NaT,85,Drama,The story of 146 Azerbaijani Turks who fled to...,Turkish,Turkey,0,0,<NA>,<NA>,4.1,174,<NA>
73320,K�rd�g�m,1977,NaT,<NA>,"Drama, Romance",<NA>,Turkish,Turkey,0,0,<NA>,<NA>,7.5,115,<NA>
73321,Nehir,1977,NaT,87,"Adventure, Crime, Thriller",A group of young people living a luxurious lif...,Turkish,Turkey,0,0,<NA>,<NA>,6.0,214,<NA>
73322,Ana ocagi,1977,1978-02-01,86,"Drama, Romance","Kadir and his family, who are involved in the ...",Turkish,Turkey,0,0,<NA>,<NA>,5.3,90,<NA>

In [39]:
df["BoxOffice"] = df["BoxOffice"].apply(lambda x: str(x).replace("$", ""))
df["BoxOffice"] = df["BoxOffice"].apply(lambda x: str(x).replace(",", ""))
df.replace("<NA>", np.NAN, inplace=True)
df.replace("nan", np.NAN, inplace=True)
df["BoxOffice"] = df["BoxOffice"].astype("Int64")
df

,Title,Year,Released,Runtime,Genre,Plot,Language,Country,Won,Nominated,Metascore,TomatoScore,imdbRating,imdbVotes,BoxOffice
0,Dharma Poratam,1983,NaT,140,Musical,<NA>,<NA>,India,0,0,<NA>,<NA>,3.4,195,<NA>
2,Kala Yamudu,1983,NaT,120,"Drama, Romance",<NA>,Telugu,India,0,0,<NA>,<NA>,8.2,36,<NA>
3,Maro Maya Bazaar,1983,NaT,133,<NA>,<NA>,Telugu,India,0,0,<NA>,<NA>,8.4,40,<NA>
6,Gudachari No.1,1983,1983-06-30,138,"Action, Thriller","Vijay, a CBI agent, is sent on a special opera...",Telugu,India,0,0,<NA>,<NA>,6.9,58,<NA>
7,Khaidi,1983,1983-10-28,157,"Action, Drama",Veerabhadraiah is a feudal lord who presides o...,Telugu,India,0,0,<NA>,<NA>,7.6,473,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73313,�lmeyen Sarki,1977,NaT,89,"Drama, Romance","Semra is a famous singer, and her daughter Cig...",Turkish,Turkey,0,0,<NA>,<NA>,5.2,58,<NA>
73317,G�nes Ne Zaman Dogacak,1977,NaT,85,Drama,The story of 146 Azerbaijani Turks who fled to...,Turkish,Turkey,0,0,<NA>,<NA>,4.1,174,<NA>
73320,K�rd�g�m,1977,NaT,<NA>,"Drama, Romance",<NA>,Turkish,Turkey,0,0,<NA>,<NA>,7.5,115,<NA>
73321,Nehir,1977,NaT,87,"Adventure, Crime, Thriller",A group of young people living a luxurious lif...,Turkish,Turkey,0,0,<NA>,<NA>,6.0,214,<NA>
73322,Ana ocagi,1977,1978-02-01,86,"Drama, Romance","Kadir and his family, who are involved in the ...",Turkish,Turkey,0,0,<NA>,<NA>,5.3,90,<NA>

In [40]:
df.dtypes

Title                  string
Year                    Int64
Released       datetime64[ns]
Runtime                 Int64
Genre                  string
Plot                   string
Language               string
Country                string
Won                     Int64
Nominated               Int64
Metascore               Int64
TomatoScore             Int64
imdbRating            float64
imdbVotes               Int64
BoxOffice               Int64
dtype: object

In [41]:
df.columns

Index(['Title', 'Year', 'Released', 'Runtime', 'Genre', 'Plot', 'Language',
       'Country', 'Won', 'Nominated', 'Metascore', 'TomatoScore', 'imdbRating',
       'imdbVotes', 'BoxOffice'],
      dtype='object')

In [42]:
# Now split for columns
df2 = df[['Title', 'Year', 'Released', 'Runtime', 'Genre', 'Plot', 'Language',
       'Country', 'Won', 'Nominated', 'Metascore', 'TomatoScore', 'imdbRating',
       'imdbVotes', 'BoxOffice']]
for column in ['Genre', 'Language', 'Country']:
    df2[column] = df2[column].apply(lambda x: np.NaN if pd.isna(x) else [g.strip() for g in x.split(',')])
    df2 = df2.explode(column)
df2.reindex()
df2

,Title,Year,Released,Runtime,Genre,Plot,Language,Country,Won,Nominated,Metascore,TomatoScore,imdbRating,imdbVotes,BoxOffice
0,Dharma Poratam,1983,NaT,140,Musical,<NA>,NaN,India,0,0,<NA>,<NA>,3.4,195,<NA>
2,Kala Yamudu,1983,NaT,120,Drama,<NA>,Telugu,India,0,0,<NA>,<NA>,8.2,36,<NA>
2,Kala Yamudu,1983,NaT,120,Romance,<NA>,Telugu,India,0,0,<NA>,<NA>,8.2,36,<NA>
3,Maro Maya Bazaar,1983,NaT,133,NaN,<NA>,Telugu,India,0,0,<NA>,<NA>,8.4,40,<NA>
6,Gudachari No.1,1983,1983-06-30,138,Action,"Vijay, a CBI agent, is sent on a special opera...",Telugu,India,0,0,<NA>,<NA>,6.9,58,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73321,Nehir,1977,NaT,87,Adventure,A group of young people living a luxurious lif...,Turkish,Turkey,0,0,<NA>,<NA>,6.0,214,<NA>
73321,Nehir,1977,NaT,87,Crime,A group of young people living a luxurious lif...,Turkish,Turkey,0,0,<NA>,<NA>,6.0,214,<NA>
73321,Nehir,1977,NaT,87,Thriller,A group of young people living a luxurious lif...,Turkish,Turkey,0,0,<NA>,<NA>,6.0,214,<NA>
73322,Ana ocagi,1977,1978-02-01,86,Drama,"Kadir and his family, who are involved in the ...",Turkish,Turkey,0,0,<NA>,<NA>,5.3,90,<NA>
73322,Ana ocagi,1977,1978-02-01,86,Romance,"Kadir and his family, who are involved in the ...",Turkish,Turkey,0,0,<NA>,<NA>,5.3,90,<NA>

In [43]:
df2.query('Title.str.contains("Perfect Blue")', engine='python')

,Title,Year,Released,Runtime,Genre,Plot,Language,Country,Won,Nominated,Metascore,TomatoScore,imdbRating,imdbVotes,BoxOffice
32852,Perfect Blue,1997,1998-02-28,81,Animation,"Mima leaves the idol group CHAM, in order to p...",Japanese,Japan,4,4,67,83,8.0,78876,558598
32852,Perfect Blue,1997,1998-02-28,81,Crime,"Mima leaves the idol group CHAM, in order to p...",Japanese,Japan,4,4,67,83,8.0,78876,558598
32852,Perfect Blue,1997,1998-02-28,81,Drama,"Mima leaves the idol group CHAM, in order to p...",Japanese,Japan,4,4,67,83,8.0,78876,558598

In [44]:
df2.describe()

,Year,Runtime,Won,Nominated,Metascore,TomatoScore,imdbRating,imdbVotes,BoxOffice
count,186228.000000,179866.000000,186228.000000,186228.000000,69879.000000,91339.000000,186228.000000,1.862280e+05,7.242800e+04
mean,1995.954040,108.715299,3.931315,7.614585,58.086335,61.428021,6.270007,4.245015e+04,3.500590e+07
std,20.333867,41.788538,12.763006,22.386472,17.322992,26.965694,1.090714,1.254962e+05,6.485163e+07
min,1950.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.000000,5.000000e+00,6.400000e+01
25%,1981.000000,92.000000,0.000000,0.000000,46.000000,40.000000,5.700000,2.590000e+02,7.283160e+05
50%,2002.000000,104.000000,0.000000,1.000000,58.000000,66.000000,6.400000,2.179000e+03,8.893439e+06
75%,2013.000000,122.000000,3.000000,6.000000,71.000000,85.000000,7.000000,2.126400e+04,4.056356e+07
max,2022.000000,5220.000000,308.000000,381.000000,100.000000,100.000000,10.000000,2.673825e+06,8.583730e+08

In [45]:
select_column = "Country"
df2[[select_column, "Title"]].groupby(by=[select_column]).count().sort_values(['Title'], ascending=False)

                Title
Country
United States   52912
India           29039
United Kingdom  18603
France          11602
Italy            9111
...               ...
Benin               1
Guadeloupe          1
Guinea-Bissau       1
Laos                1
Andorra             1

[171 rows x 1 columns]

In [46]:
df2["Country"] = df2["Country"].replace("USA", "United States")
df2

,Title,Year,Released,Runtime,Genre,Plot,Language,Country,Won,Nominated,Metascore,TomatoScore,imdbRating,imdbVotes,BoxOffice
0,Dharma Poratam,1983,NaT,140,Musical,<NA>,NaN,India,0,0,<NA>,<NA>,3.4,195,<NA>
2,Kala Yamudu,1983,NaT,120,Drama,<NA>,Telugu,India,0,0,<NA>,<NA>,8.2,36,<NA>
2,Kala Yamudu,1983,NaT,120,Romance,<NA>,Telugu,India,0,0,<NA>,<NA>,8.2,36,<NA>
3,Maro Maya Bazaar,1983,NaT,133,NaN,<NA>,Telugu,India,0,0,<NA>,<NA>,8.4,40,<NA>
6,Gudachari No.1,1983,1983-06-30,138,Action,"Vijay, a CBI agent, is sent on a special opera...",Telugu,India,0,0,<NA>,<NA>,6.9,58,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73321,Nehir,1977,NaT,87,Adventure,A group of young people living a luxurious lif...,Turkish,Turkey,0,0,<NA>,<NA>,6.0,214,<NA>
73321,Nehir,1977,NaT,87,Crime,A group of young people living a luxurious lif...,Turkish,Turkey,0,0,<NA>,<NA>,6.0,214,<NA>
73321,Nehir,1977,NaT,87,Thriller,A group of young people living a luxurious lif...,Turkish,Turkey,0,0,<NA>,<NA>,6.0,214,<NA>
73322,Ana ocagi,1977,1978-02-01,86,Drama,"Kadir and his family, who are involved in the ...",Turkish,Turkey,0,0,<NA>,<NA>,5.3,90,<NA>
73322,Ana ocagi,1977,1978-02-01,86,Romance,"Kadir and his family, who are involved in the ...",Turkish,Turkey,0,0,<NA>,<NA>,5.3,90,<NA>

In [56]:
df2 =df2[~df2['Genre'].isin(['Adult', 'News', 'Reality-TV', 'Talk-Show', 'Short', 'Music', 'Film-Noir'])]
df2

,Title,Year,Released,Runtime,Genre,Plot,Language,Country,Won,Nominated,Metascore,TomatoScore,imdbRating,imdbVotes,BoxOffice
0,Dharma Poratam,1983,NaT,140,Musical,<NA>,NaN,India,0,0,<NA>,<NA>,3.4,195,<NA>
2,Kala Yamudu,1983,NaT,120,Drama,<NA>,Telugu,India,0,0,<NA>,<NA>,8.2,36,<NA>
2,Kala Yamudu,1983,NaT,120,Romance,<NA>,Telugu,India,0,0,<NA>,<NA>,8.2,36,<NA>
3,Maro Maya Bazaar,1983,NaT,133,NaN,<NA>,Telugu,India,0,0,<NA>,<NA>,8.4,40,<NA>
6,Gudachari No.1,1983,1983-06-30,138,Action,"Vijay, a CBI agent, is sent on a special opera...",Telugu,India,0,0,<NA>,<NA>,6.9,58,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73321,Nehir,1977,NaT,87,Adventure,A group of young people living a luxurious lif...,Turkish,Turkey,0,0,<NA>,<NA>,6.0,214,<NA>
73321,Nehir,1977,NaT,87,Crime,A group of young people living a luxurious lif...,Turkish,Turkey,0,0,<NA>,<NA>,6.0,214,<NA>
73321,Nehir,1977,NaT,87,Thriller,A group of young people living a luxurious lif...,Turkish,Turkey,0,0,<NA>,<NA>,6.0,214,<NA>
73322,Ana ocagi,1977,1978-02-01,86,Drama,"Kadir and his family, who are involved in the ...",Turkish,Turkey,0,0,<NA>,<NA>,5.3,90,<NA>
73322,Ana ocagi,1977,1978-02-01,86,Romance,"Kadir and his family, who are involved in the ...",Turkish,Turkey,0,0,<NA>,<NA>,5.3,90,<NA>

In [57]:
# import sqlite3
# con = sqlite3.connect("database")
# cur = con.cursor()
# df2.to_sql("movie_data_fact_table", con=con)
df2.to_csv("data_facttable.csv")